@import "variables";

// for scroll reveal to prevent flashing
html.sr .load-hidden {
  visibility: hidden;
}

.hide-til-load {
  display: none;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: $font-2;
  font-size: 36px;
  color: $color-1;
  line-height: normal;
}

h2 {
  font-family: $font-1;
  font-size: 36px;
  color: $color-1;
}

.font-white {
  color: white;
}

.font-black {
  color: $color-1;
}

.white-fill {
  fill: white;
}

.line {
  border-top: 1px solid #707070;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  font-family: $font-2;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: $color-2;
  background-color: white;
  padding: 10px 23px;
  border: 2px solid $color-2;
  border-radius: 80px;
  cursor: pointer;
  transition-duration: 0.1s;

  &:hover {
    text-decoration: underline;
  }
}

a {
  color: $color-2;
  text-decoration: none;

  &:visited {
    color: $color-2;
  }
}

.hero-image {
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 950px) {
  h2,
  h1 {
    font-size: 30px;
  }

  .hero-image {
    width: 100%;
  }

  .mobile-padding {
    padding: 0 5%;
  }

  .line {
    width: 80%;
  }

  .page-image {
    width: 100%;
  }

  .margin-top {
    margin-top: 25px;
  }

  .white-fill {
    fill: #e16c5b;
  }
}
