<div class="adopt-wrapper">
    <h1 class="mb-s m-mb-s ta-center">ADOPTION PROCESS</h1>
    <div class="image-text-wrapper mb-lg m-mb-m">
        <div class="m-mb-s">
            <img src="images/golden-pup.jpg" alt="">
        </div>
        <div>
        <p class="p-width mobile-padding">Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Risus quis varius quam quisque id. Aliquam sem fringilla ut morbi tincidunt augue interdum velit. Proin sed libero enim sed. Pulvinar pellentesque habitant morbi tristique senectus et netus et. Fames ac turpis egestas maecenas pharetra convallis. Turpis massa tincidunt dui ut ornare lectus sit. Tortor consequat id porta nibh venenatis. Vitae tortor condimentum lacinia quis vel eros donec. In ante metus dictum at tempor commodo ullamcorper. 
            <br /><br />Lacus sed viverra tellus in hac habitasse platea. Massa id neque aliquam vestibulum. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Auctor elit sed vulputate mi sit amet. Id donec ultrices tincidunt arcu non sodales neque sodales. Nibh ipsum consequat nisl vel pretium lectus quam. Odio facilisis mauris sit amet massa vitae tortor.</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="ta-center mb-m m-mb-m">
    <h1 class="mb-xxs">PRICING</h1>
            <ul class="p-spacing">
                <li><strong>Mini Goldendoodles</strong> (20-30 lbs): $3500</li>
                <li><strong>Goldendoodles</strong> (30-50 lbs): $3000</li>
                <li><strong>Cavapoos</strong> (10-20 lbs): $4000</li>
            </ul>
     </div>

   <div class="ta-center mb-xs">
    <h1 class="mb-xxs">AVAILABLE PUPPIES</h1>
            <p class="p-spacing">
                <strong>Spring 2021:</strong><br /> Mini F1b Goldendoodle Litter (20-30 lbs)<br />
                <strong>Fall 2021:</strong><br /> Cavapoo Litter (10-20 lbs)
            </p>
        </div>
    <div class="line mb-m m-mb-m"></div>
    <div class="mb-xs">
        <p class="p-width center ta-center mobile-padding">If you’d like to adopt a puppy, please fill out our application form below. We will respond to you within the next week.
        </p>
    </div>
    <div class="mobile-ta-center ta-center">
            <button class="button mb-xl m-mb-lg">PUPPY APPLICATION</button>
    </div>

    </div>
</div>