<div class="contact-wrapper width">
  <div class="margin-bottom-1"></div>
  <div class="mb-s mobile-padding">
    <div class="fade-in ta-center">
        <p class="header mb-xs mobile-margin">Questions or Comments?</p>
        <p class="mobile-margin">We would love to hear from you!</p>
        <p>Please allow 24 - 48 hours for a response.</p>
    </div>
  </div>
  <div class="contact-us">
   <form class="contact-form" action="#">
      <label for="customerName">NAME <em>*</em></label>
     <input id="customerName" name="customerName" required="" type="text">
     <label for="customerEmail">EMAIL <em>*</em></label>
     <input id="customerEmail" name="customerEmail" required="" type="email">
     <label for="customerPhone">PHONE</label>
     <input id="customerPhone" name="customerPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel">
     <label for="customerNote">YOUR MESSAGE <em>*</em></label>
     <textarea id="customerNote" name="customerNote" required="" rows="4"></textarea>
     <button id="customerOrder">SUBMIT</button>
   </form>
</div>
  </div>
</div>