<div class="future-litters-wrapper">
    <h1 class="mb-s m-mb-s ta-center title-margin">FUTURE LITTERS</h1>
    <div class="ta-center line-height fade-up-in">
        <div class="image-wrapper mb-s m-mb-s">
            <img src="images/white-poodle.jpg" alt="" class="dog-images margin-right">
            <img src="images/golden-flower.jpg" alt="" class="dog-images">
        </div>
        <div class="mobile-padding p-width">
            <h3 class="mb-xxs">COCO X MARLO</h3>
            <p class="mb-xxs">
                Mini F1b Goldendoodle Litter - 20-35 lbs
            </p>
            <p class="mb-xxs">Coco is a sweet and gentle poodle that is extremely smart! Eget nullam non nisi est sit amet. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Mollis nunc sed id semper risus in hendrerit gravida rutrum.</p>
            <p class="mb-m m-mb-m"><strong>LITTER EXPECTED SUMMER 2021</strong></p>
        </div>
        <div class="line mb-m m-mb-m"></div>
        <div class="fade-up-in image-wrapper mb-s m-mb-s">
            <img src="images/brown-poodle.jpg" alt="" class="dog-images margin-right">
            <img src=" images/king-charles.jpg" alt="" class="dog-images">
        </div>
         <div class="mobile-padding p-width">
            <h3 class="mb-xxs">OLIVER X BELLA</h3>
            <p class="mb-xxs">
                Cavapoo Litter - 15-30 lbs

            </p>
            <p class="mb-xxs">Bella is a Cavalier King Charles that we added to our family last year. Nibh tortor id aliquet lectus proin nibh nisl condimentum id. Eu feugiat pretium nibh ipsum consequat. Ullamcorper a lacus vestibulum sed arcu. Ultrices dui sapien eget mi proin sed libero. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. Ac turpis egestas maecenas pharetra convallis posuere. Sagittis id consectetur purus ut faucibus pulvinar. Sagittis nisl rhoncus mattis rhoncus urna neque.</p>
            <p class="mb-m m-mb-m"><strong>LITTER EXPECTED FALL 2021</strong></p>
        </div>
        <div class="line mb-m m-mb-m"></div>
        <div class="mobile-padding">
            <p class="mb-xxs m-mb-s waitlist-text">Learn more about our parents and guardian dogs by clicking the link below.</p>
            <a href="parents"><button class="button mb-xl m-mb-lg">PARENTS</button></a>
        </div>
    </div>
</div>