<div class="home-wrapper">
  <div class="home-image mb-m m-mb-s">
    <picture>
      <source media="(max-width:900px)" srcset="images/fall-dog.jpg" />
      <source media="(max-width:500px)" srcset="images/dog-home-small.jpg" />
      <img src="images/fall-dog.jpg" class="hero-image" />
    </picture>
  </div>
  <div class="mobile-padding fade-up-in header-wrapper mb-m m-mb-s">
    <div>
      <h2 class="header-text mb-xs m-mb-s">We breed beautiful healthy Goldendoodles in California.
      </h2>
      <button class="button m-mb-s"><a href="adopt"> ADOPT A PUPPY</a></button>
    </div>
    <div class="about-text">
      Faucibus nisl tincidunt eget nullam non. Sed elementum tempus egestas sed sed risus pretium. Pharetra diam sit
      amet nisl suscipit adipiscing. Nunc mattis enim ut tellus. Commodo nulla facilisi nullam vehicula ipsum a arcu
      cursus vitae. Magna eget est lorem ipsum dolor sit. Hendrerit dolor magna eget est. Scelerisque eleifend donec
      pretium vulputate. Quam id leo in vitae turpis massa. Nec nam aliquam sem et. Pellentesque id nibh tortor id
      aliquet lectus proin nibh. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Urna nunc id cursus
      metus aliquam eleifend.
    </div>
  </div>
  <div class="mb-lg m-mb-s">
    <picture>
      <source media="(max-width:900px)" srcset="images/snow-dog.jpg" />
      <source media="(max-width:500px)" srcset="images/snow-dog.jpg" />
      <img src="images/snow-dog.jpg" class="large-image" />
    </picture>
  </div>
  <div class="image-text-wrapper mb-lg m-mb-s fade-up-in">
    <div class="image-dog-1">
      <img src="images/pup-shoe.jpg" alt="" class="image-dog-1">
    </div>
    <div class="m-mb-m padding p-width">
      <h2 class="mb-xxs">At eight weeks old, our puppies will be ready to go to their forever home.</h2>
      <p class="mb-xs m-mb-s paragraph-text">All of our puppies come with a microchip, one round of shots, vet records,
        and a collar. Ut
        enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      <a href="pastlitters"><button class="button">PUPPY GALLERY</button>
    </div></a>
  </div>
  <div class="image-text-wrapper mb-lg m-mb-none fade-up-in">
    <div class="m-mb-s padding p-width">
      <h2 class="mb-xxs">Our puppies come with a
        health guarantee.</h2>
      <p class="paragraph-text">All of our dogs are thoroughly health tested by the age of one for at least 151
        hereditary defects and diseases. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Quam id leo in vitae turpis massa. Nec nam aliquam sem et. Urna
        nunc id cursus metus aliquam eleifend. Cursus vitae congue mauris rhoncus. Risus nec feugiat in fermentum
        posuere urna nec tincidunt praesent. Tempus urna et pharetra pharetra massa massa ultricies mi quis.

      </p>
    </div>
    <div class="image-dog-2 m-mb-s image-mb">
      <img src="images/bubbles.jpg" alt="" class="image-dog-2 mobile-padding">
      </div>
  </div>
  <div class="insta-text-wrapper">
    <h2 class="ta-center insta-text font-black">Follow us on Instagram to see our precious puppies and litter updates.
    </h2>
    <div class="ta-center">
      <a href="https://www.instagram.com/">{{> insta-icon width="45px" class="white-fill"}}</a>
    </div>
  </div>
</div>