<div class="parents-wrapper mobile-padding">
     <h1 class="mb-s m-mb-s ta-center title-margin">PARENTS</h1>
    <div class="image-text-wrapper mb-m m-mb-s fade-up-in">
        <div class="m-mb-s"><img src="images/golden-flower.jpg" alt="" class="page-image"></div>
        <div class="paragraph-text ta-left">
            <h1 class="mb-xxs">MARLO THE GOLDEN</h1>
            <p>Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Ipsum a arcu cursus vitae congue mauris. At quis risus sed vulputate odio. Sed elementum tempus egestas sed sed risus pretium quam. Ut sem viverra aliquet eget sit amet tellus. Massa tempor nec feugiat nisl pretium. Nisl vel pretium lectus quam id Leo. Mauris pharetra et ultrices neque ornare aenean euismod. Sed arcu non odio euismod lacinia.
            </p>
        </div>
    </div>
    <div class="image-text-wrapper mb-m m-mb-s fade-up-in">
        <div class="paragraph-text ta-left">
            <h1 class="mb-xxs">COCO THE POODLE</h1>
            <p>At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida. Laoreet id donec ultrices tincidunt arcu non sodales. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat.
            </p>
        </div>
        <div class="m-mb-s"><img src="images/white-poodle.jpg" alt="" class="page-image"></div>
    </div>
    <div class="image-text-wrapper mb-lg m-mb-s fade-up-in">
        <div class="m-mb-s"><img src="images/brown-poodle.jpg" alt="" class="page-image"></div>
        <div class="paragraph-text m-mb-s ta-left">
            <h1 class="mb-xxs">OLLIE THE POODLE</h1>
            <p>Auctor eu augue ut lectus arcu bibendum at varius vel. Est lorem ipsum dolor sit amet consectetur adipiscing elit. Vulputate ut pharetra sit amet. Aliquet porttitor lacus luctus accumsan tortor. Feugiat pretium nibh ipsum consequat nisl. Libero volutpat sed cras ornare arcu dui vivamus arcu. Nullam eget felis eget nunc lobortis mattis aliquam faucibus purus. Purus sit amet luctus venenatis lectus magna fringilla urna. Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. 
            </p>
        </div>
    </div>
</div>