<div class="pastlitters-wrapper ta-center">
    <div class="mb-m m-mb-lg">
        <h1 class="mb-s m-mb-s ta-center title-margin">PAST LITTERS</h1>
        <div class="row">
            <div class="column">
                <img class="fade-up-in" src="images/fluffy-puppy-medium.jpg">
                <img class="fade-up-in" src="images/two-pups-medium.jpg">
                <img class="fade-up-in" src="images/newborns-medium.jpg">
                <img class="fade-up-in" src="images/pup-bottle-medium.jpg">
                <img class="fade-up-in" src="images/puppy-bow-medium.jpg">
                <img class="fade-up-in" src="images/sleeping-medium.jpg">
            </div>
            <div class="column">
                <img class="fade-up-in" src="images/puppy-litter-medium.jpg">
                <img class="fade-up-in" src="images/puppy-surf-medium.jpg">
                <img class="fade-up-in" src="images/puppy-shirt-medium.jpg">
                <img class="fade-up-in" src="images/puppy-cute-medium.jpg">
                <img class="fade-up-in" src="images/tiny-puppy-medium.jpg">
                <img class="fade-up-in" src="images/dog-home-medium.jpg">
            </div>
        </div>
    </div>
</div>