@import "variables";

[data-page="adopt"] {
  .adopt-wrapper {
    font-family: $font-2;
    font-size: 16px;
    font-weight: 300;
    color: $color-1;
  }

  .image-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .p-width {
    width: 500px;
  }

  .p-spacing {
    line-height: 40px;
  }

  .center {
    margin: 0 auto;
  }

  /* Mobile Styles */
  @media only screen and (max-width: 950px) {
    .adopt-wrapper {
      font-size: 16px;
    }

    .p-width {
      width: auto;
    }

    .image-text-wrapper {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .paragraph-text {
      width: 100%;
      max-width: 500px;
    }
  }
}
