@import "variables";
/* Form Styles */
// @import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

[data-page="contact"] {
  .contact-wrapper {
    font-family: $font-2;
    font-size: 16px;
    color: $color-1;
    font-weight: 300;
    line-height: 30px;
    overflow: auto;
  }

  .width {
    width: 600px;
    margin: 0 auto 100px auto;
  }

  .header {
    font-family: $font-1;
    font-size: 40px;
    line-height: 45px;
  }

  .margin-bottom-1 {
    margin-bottom: 140px;
  }

  $form-bg: white;
  $form-border: #e16c5b;
  $form-shadow: #dfae4b;
  $form-focus: #6bd4b1;
  $font-size: 14pt;
  $font-face: "Poppins";
  $font-color: black;

  * {
    margin: 0;
    padding: 0;
  }

  .contact-us {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: $font-size;
    font-family: $font-face;
    color: $font-color;
  }

  .contact-form {
    width: 80%;
    max-width: 500px;
  }

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    font-size: $font-size;
    line-height: $font-size * 2;
    font-family: $font-face;
  }

  input {
    margin-bottom: $font-size * 2;
  }

  h3 {
    font-weight: normal;
    font-size: 10pt;
    line-height: $font-size * 2;
    font-style: italic;
    margin: 0 0 0.5em 0;
  }

  span {
    font-size: 8pt;
  }

  em {
    color: $form-border;
    font-weight: bold;
  }

  input,
  textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding-left: 5px;
    outline: none;
  }

  input:focus,
  textarea:focus {
    border: 1px solid $form-focus;
  }

  textarea {
    resize: none;
  }

  button {
    display: block;
    line-height: $font-size * 2;
    padding: 0 20px;
    border: none;
    background: $form-border;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    margin: 40px auto 0 auto;

    &:hover {
      cursor: pointer;
    }
  }

  ::selection {
    background: rgb(255, 199, 184);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    border: 1px solid $form-focus;
    -webkit-text-fill-color: $font-color;
    -webkit-box-shadow: 0 0 0px 1000px $form-bg inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  /* Mobile Styles */
  @media only screen and (max-width: 950px) {
    .contact-wrapper {
      line-height: normal;
      font-size: 16px;
    }

    .header {
      font-size: 30px;
      line-height: 35px;
    }

    .width {
      width: auto;
    }

    .text-wrapper {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto 80px auto;
    }

    .contact-info {
      width: 492px;
    }

    .margin-bottom-1 {
      margin-bottom: 40px;
    }

    .mobile-margin {
      margin-bottom: 25px;
    }
  }
}
