@import "variables";

[data-page="faq"] {
  .faq-wrapper {
    font-family: $font-2;
    font-size: 16px;
    font-weight: 300;
    color: $color-1;
  }

  .center {
    margin: 0 auto;
  }

  .text-wrapper {
    position: relative;
    width: 670px;
    margin: 0 auto;
    line-height: 24px;
  }

  .header {
    font-weight: normal;
    font-family: $font-2;
    font-size: 24px;
  }

  /* Mobile Styles */
  @media only screen and (max-width: 950px) {
    .faq-wrapper {
      font-size: 16px;
    }

    .text-wrapper {
      width: auto;
    }

    .header {
      font-size: 22px;
      line-height: normal;
    }
  }
}
