@import "variables";

[data-page="futurelitters"] {
  .future-litters-wrapper {
    font-family: $font-2;
    font-size: 16px;
    font-weight: 300;
    color: $color-1;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 125px;
    margin-right: 125px;
  }

  .p-width {
    width: 580px;
    margin: 0 auto;
  }

  .dog-images {
    width: 50%;
    max-width: 463px;
    object-fit: cover;
    align-self: flex-start;
  }

  .margin-right {
    margin-right: 20px;
  }

  .line-height {
    line-height: 30px;
  }

  /* Mobile Styles */
  @media only screen and (max-width: 950px) {
    .future-litters-wrapper {
      font-size: 16px;
    }

    .image-wrapper {
      margin-left: 0;
      margin-right: 0;
    }

    .p-width {
      width: auto;
    }

    .dog-images {
      max-width: 365px;
    }

    .margin-right {
      margin-right: 5px;
    }

    .waitlist-text {
      line-height: normal;
    }
  }
}
