@import "variables";

[data-page="home"] {
  .home-wrapper {
    font-family: $font-2;
    font-weight: 300;
    font-size: 16px;
    color: $color-1;
  }

  .hero-image {
    object-position: 50% 78% !important;
    height: 670px;
  }

  .header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .header-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .header-text {
    color: white;
    font-family: $font-1;
    font-weight: 500;
    font-size: 60px;
  }

  .about-header-text {
    width: 480px;
  }

  .about-text {
    width: 552px;
  }

  .large-image {
    object-position: 50% 75% !important;
    width: 100%;
    height: 530px;
    object-fit: cover;
  }

  .image-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .p-width {
    width: 460px;
  }

  .paragraph-text {
    line-height: 30px;
  }

  .padding {
    padding: 0 5%;
  }

  .image-mb {
    margin-bottom: -8px;
  }

  .insta-text-wrapper {
    background-image: url("images/tree-mist.jpg");
    background-position: 10% 90%;
    background-size: cover;
    padding: 8%;
  }

  .insta-text {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 55px;
    color: white;
    margin-top: 25px;
  }

  /* Mobile Styles */
  @media only screen and (max-width: 950px) {
    .home-wrapper {
      font-size: 16px;
    }

    .hero-image {
      object-position: 50% 50% !important;
      height: 550px;
    }

    .header-wrapper {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .header-container {
      top: 350px;
      width: 100%;
    }

    .header-text {
      color: white;
      font-family: $font-1;
      font-weight: 500;
      font-size: 33px;
    }

    .about-header-text {
      order: 2;
      width: auto;
      max-width: 500px;
    }

    .large-image {
      height: auto;
    }

    .image-text-wrapper {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .about-text {
      width: 100%;
      max-width: 500px;
    }

    .padding {
      padding: 0 5%;
    }

    .image-dog-1 {
      order: 2;
      max-width: 580px;
      height: auto;
      width: 100%;
    }

    .image-dog-2 {
      max-width: 580px;
      width: 100%;
      height: auto;
    }

    .paragraph-text {
      width: 100%;
      max-width: 500px;
      height: auto;
    }

    .insta-text-wrapper {
      padding: 15% 5%;
      background-image: none;
      background-color: white;
      padding: 40px 5%;
    }

    .insta-text {
      width: auto;
      max-width: 500px;
      margin-bottom: 40px;
    }

    .font-black {
      color: black;
    }
  }
}
