@import "variables";

[data-page="parents"] {
  .parents-wrapper {
    font-family: $font-2;
    font-size: 16px;
    font-weight: 300;
    color: $color-1;
  }

  .image-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }

  .paragraph-text {
    width: 500px;
    line-height: 30px;
  }

  .mb-xxxs {
    margin-bottom: 18px;
  }

  .font-20 {
    font-size: 20px;
  }

  @media only screen and (max-width: 950px) {
    .parents-wrapper {
      font-size: 16px;
    }

    .image-text-wrapper {
      display: block;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .image-dog-1 {
      order: 2;
      width: 100%;
      max-width: 580px;
    }

    .image-dog-2 {
      order: 2;
      width: 100%;
      max-width: 580px;
    }

    .image-dog-3 {
      order: 2;
      width: 100%;
      max-width: 580px;
    }

    .paragraph-text {
      order: 1;
      width: 100%;
      max-width: 500px;
    }
  }
}
